:root {
  --primaryColor: #172a14;
  --secondaryColor: #0b291a;
}

* {
  box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
  outline: 0;
  overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
  margin: 0;
  overflow: hidden;
	background-color: var(--primaryColor);
  background-image: linear-gradient(135deg, var(--primaryColor) 0%, var(--secondaryColor) 100%);
  background-image: url('../img/lifehacking-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
	font-family: helvetica neue, futura, trebuchet ms, Arial;
	-webkit-user-select: none;
	user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 20px;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.episode-info {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
}

.episode-info img {
  --logoSize: 280px;
  width: var(--logoSize);
  height: var(--logoSize);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.title-holder {
  margin-top: 15px;
}

.title {
  font-size: 2rem;
  background-color: #fff;
  display: inline-block;
  padding: 4px 10px 0;
  color: var(--primaryColor);
}

#track {
  display: block;
  margin-top: 10px;
  font-size: 3rem;
}

#waveform {
	position: absolute;
	width: 100%;
	top: 86%;
  left: 0;
  transition: opacity .2s ease-in-out;
  will-change: opacity;
}

#waveform {
	height: 30%;
	margin: -15% auto;
	cursor: pointer;
	user-select: none;
	opacity: 1;
}

@media screen and (min-width: 376px) {
  .episode-info img {
    --logoSize: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .episode-info {
    align-items: center;
  }

  .episode-info img {
    --logoSize: 80%;
  }

  .title {
    font-size: 2.7rem;
  }

  #track {
    font-size: 4rem;
  }
}

@media screen and (min-width: 667px) and (orientation: landscape) {
  .episode-info img {
    --logoSize: 240px;
    height: var(--logoSize);
  }

  .episode-info {
    flex-direction: row;
    align-items: flex-end;
  }

  .title-holder {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    justify-content: center;
  }

  .episode-info {
    margin-bottom: 250px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
  }

  .episode-info img {
    --logoSize: 300px;
  }

  .title-holder {
    position: absolute;
    left: 290px;
  }

  #waveform {
    top: 80%;
  }
}